.slider {
    width: 500px;
    overflow: hidden;
}

.slides {
    width: 2000px;
    display: flex;
    transition: 1.5s ease;
}

.slide {
    width: 500px;
    height: 300px;
}

img {
    width: 100%;
    max-height: 100%;
    object-fit: cover;
}


.container {
    display: flex;
    justify-content: space-between;
}

.manualButtons {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.rightData {
    width: 900px;
    height: 400px;
    background-color: gray;
    text-align: center;
    color: white;
    font-size: 85px;
}
